{% extends "!layout.html" %}
{#
{% set script_files = script_files + ["https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.27.4/codemirror.min.js", "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.27.4/mode/python/python.min.js","_static/jr.js"] %}
#}

{% set script_files = script_files + ["_static/codemirror.min.5.27.4.js", "_static/python.min.5.27.4.js","https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.27.4/mode/clike/clike.min.js","_static/jr.js"] %}

{% set bootswatch_css_custom = ['_static/easypython.css'] %}

{% block extrahead %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.27.4/codemirror.min.css"/>
{% endblock %}


